* {
    margin: 0;


}


#header {
    background-color: blue;
    height:90px
    width: 750px

   
}

#section-1{
    background-color: rgb(255, 238, 0);
    width: 200px;
    height: 800px;
}

#footer {
    background-color: rgb(0, 255, 242);
    height: 750px
    display: flex;
    
}

#aside {

    width: 150px
    heo

}
 



.central {
display: flex;
gap: 1500px;

}

