* {
    margin: 0;

}



#header {
    background-color: blue;
    height: 200px;
    width: 85vw;

   
}

#section-1{
    background-color: rgb(255, 238, 0);
    width: 200px;
    height: 800px;
}

#footer {
    background-color: rgb(0, 255, 242);
    height: 200px;
    display: flex;
    
}


.central {
display: flex;
gap: 1500px;

}